@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$font-family: "Poppins", sans-serif;
$font-size: 16px;
$bg-color: #efefef;
$overlay: linear-gradiant(to right, rgb(214, 91, 9), rgb(218, 7, 7));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
}
.hidden {
  z-index: -5;
  opacity: 0;
}

.container {
  background: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 22rem;
  width: 35rem;
  box-shadow: 0 0 2px 2px #d8d8d8;
  .left {
    position: relative;
    width: 50%;
    transition: all 1s ease-in-out;
    transition-delay: 0.5;
    .singIn_card {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.8rem;
      width: 100%;
      .singIn_card--title {
        font-size: $font-size - 3px;
        text-align: center;
      }
      .social {
        text-align: center;
        a {
          text-decoration: none;
          padding: 1rem 0.5rem;
          font-size: $font-size + 16px;
          line-height: 25px;
        }
        .fa-facebook {
          color: blue;
        }
        .fa-linkedin {
          color: rgb(25, 25, 134);
        }
        .fa-google-plus-g {
          color: red;
        }
      }
      p {
        text-align: center;
      }
      form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        input {
          margin: 0.8rem auto;
          outline: 0;
          border: none;
          border-bottom: 1px solid #cfcfcf;
          &[type="button"] {
            padding: 0.2rem 0.8rem;
            border: none;
            border-radius: 3px;
            color: #fff;
            background-color: #51bb6b;
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    .singUp_card {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1.8rem;
      width: 100%;
      .singUp_card--title {
        font-size: $font-size - 3px;
      }
      .social {
        text-align: center;
        a {
          text-decoration: none;
          padding: 1rem 0.5rem;
          font-size: $font-size + 16px;
          line-height: 25px;
        }
        .fa-facebook {
          color: blue;
        }
        .fa-linkedin {
          color: rgb(25, 25, 134);
        }
        .fa-google-plus-g {
          color: red;
        }
      }
      p {
        text-align: center;
      }
      form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        input {
          margin: 0.8rem auto;
          outline: 0;
          border: none;
          border-bottom: 1px solid #cfcfcf;
          &[type="button"] {
            padding: 0.2rem 0.8rem;
            border: none;
            border-radius: 3px;
            color: #fff;
            background-color: #51bb6b;
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
  .overlay {
    position: relative;
    width: 50%;
    text-align: center;
    background: rgb(226, 37, 16);
    background: linear-gradient(
      90deg,
      rgba(226, 37, 16, 1) 0%,
      rgba(235, 93, 46, 1) 43%,
      rgba(255, 29, 0, 1) 100%
    );
    transition: all 0.7s ease-in-out;
    .singIn_overlay {
      position: absolute;
      text-wrap: nowrap;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      .title {
        font-size: $font-size;
      }
      p {
        font-size: $font-size - 4px;
        margin-top: 0.5rem;
      }
      button {
        border: 1px solid #fff;
        outline: none;
        border-radius: 3px;
        padding: 0.2rem 0.8rem;
        margin-top: 1rem;
        color: #fff;
        background-color: transparent;
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .singUp_overlay {
      position: absolute;
      text-wrap: nowrap;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      .title {
        font-size: $font-size;
      }
      p {
        font-size: $font-size - 4px;
        margin-top: 0.5rem;
      }
      button {
        border: 1px solid #fff;
        outline: none;
        border-radius: 3px;
        padding: 0.2rem 0.8rem;
        margin-top: 1rem;
        color: #fff;
        background-color: transparent;
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
