@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
}

.container {
  background: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  height: 22rem;
  width: 35rem;
}
.container .left {
  position: relative;
  width: 50%;
}
.container .left .singIn_card {
  position: absolute;
  top: 0;
  margin: 3rem;
}
.container .left .singIn_card .singIn_card--title {
  font-size: 13px;
  text-align: center;
}
.container .left .singIn_card .social {
  text-align: center;
}
.container .left .singIn_card .social a {
  text-decoration: none;
  padding: 1rem 0.5rem;
  font-size: 32px;
  line-height: 25px;
}
.container .left .singIn_card .social .fa-facebook {
  color: blue;
}
.container .left .singIn_card .social .fa-linkedin {
  color: rgb(25, 25, 134);
}
.container .left .singIn_card .social .fa-google-plus-g {
  color: red;
}
.container .left .singIn_card p {
  text-align: center;
}
.container .left .singIn_card form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.container .left .singIn_card form input {
  margin: 0.8rem auto;
  outline: 0;
  border: none;
  border-bottom: 1px solid #cfcfcf;
}
.container .left .singIn_card form input[type=button] {
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #51bb6b;
}
.container .left .singIn_card form input[type=button]:active {
  transform: scale(0.9);
}
.container .left .singUp_card {
  z-index: -1;
  position: absolute;
  top: 0;
  margin: 1.5rem;
}
.container .left .singUp_card .singIn_card--title {
  font-size: 13px;
  text-align: center;
}
.container .left .singUp_card .social {
  text-align: center;
}
.container .left .singUp_card .social a {
  text-decoration: none;
  padding: 1rem 0.5rem;
  font-size: 32px;
  line-height: 25px;
}
.container .left .singUp_card .social .fa-facebook {
  color: blue;
}
.container .left .singUp_card .social .fa-linkedin {
  color: rgb(25, 25, 134);
}
.container .left .singUp_card .social .fa-google-plus-g {
  color: red;
}
.container .left .singUp_card p {
  text-align: center;
}
.container .left .singUp_card form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.container .left .singUp_card form input {
  margin: 0.8rem auto;
  outline: 0;
  border: none;
  border-bottom: 1px solid #cfcfcf;
}
.container .left .singUp_card form input[type=button] {
  padding: 0.2rem 0.8rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #51bb6b;
}
.container .left .singUp_card form input[type=button]:active {
  transform: scale(0.9);
}
.container .overlay {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */